/*|| General styles*/

@font-face {
  font-family: 'bainsleyregular';
  src: url('fonts/bainsley_roman-webfont.woff2') format('woff2'),
       url('fonts/bainsley_roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-size: 10px;
  font-family: 'bainsleyregular';
}

/*|| Square styles*/

.square {
  width: 250px;
  height: 250px; 
  border: 2px solid black;
  border-radius: 4px;
  line-height: 1.5;
}

.square img {
  width: 100%;
  height: 65%;
}

.square h2 {
  font-size: 2em;
}

.square p {
  font-size: 1.8em;
}

.square 
p,
h2 {
  padding-left: 5px;
}

/* || SquareList Syles*/

.squareList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  flex: 1;
  max-width: 900px;
}

/* || Navbar and footer styles*/

.navbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.568);
  padding: 4.5em;
}

.navbar ul, 
  .footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.navbar a,
  .footer a {
  font-size: 2.5rem;
  margin: 0 2em;
  text-decoration: none;
  font-weight:bolder;
  color: rgb(43, 133, 43);
}

.navbar a:hover,
  .footer a:hover {
    color: rgb(117, 207, 117);
  }

.footer img {
  font-size: 1em;
}


/* || Content styles*/

.content {
  max-width: 900px;
  margin: 4em auto;
  padding: 20px;
}


