/*|| General styles*/

@font-face {
  font-family: 'bainsleyregular';
  src: url('fonts/bainsley_roman-webfont.woff2') format('woff2'),
       url('fonts/bainsley_roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  font-size: 10px;
  font-family: 'bainsleyregular';
}

/*|| Square styles*/

.square {
  width: 250px;
  height: 350px; 
  border-radius: 4px;
  line-height: 1.5;
}

.square img {
  width: 100%;
  height: 250px;
  border-radius: 20px;
}

.square h2 {
  font-size: 2em;
  text-decoration: none;
}

.square p {
  font-size: 1.8em;
}

.square 
p,
h2 {
  padding-left: 5px;
}

/* || SquareList Syles*/

.placeList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.placeList a {
  text-decoration: none;
  color: black;
}

.placeList a:hover {
  color: rgb(73, 72, 72);
}

/* || Navbar and footer styles*/

.navbar {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.568);
  padding: 4.5em 0;
  margin: 0 auto;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 500;
}

.navbar ul, 
  .footer ul {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
}

.navbar a,
  .footer a {
  font-size: 2.5rem;
  margin: 0 1em;
  text-decoration: none;
  font-weight:bolder;
  color: rgb(43, 133, 43);
  text-shadow: 2px 1px 1px black;;
}

.navbar a:hover,
  .footer a:hover {
    color: rgb(117, 207, 117);
  }

.footer img {
  font-size: 1em;
}

.footer {
  border-top: rgb(29, 17, 4) solid 10px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(58, 35, 8);
}

.social {
  margin-bottom: 30px;
}

.social a {
  margin: 0;
}

/*|| Home styles*/

.home > div{
  font-size: 2em;
}

/*|| Place styles*/

.place h1 {
  font-size: 5em;
}

.place p {
  font-size: 2em;
  font-family: sans-serif;
}

.place h2 {
  font-size: 3em;
}

.place strong {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.banner {
  min-height: 500px;
  background: linear-gradient(326deg, rgba(0,0,0,0.28) 30%, rgba(0,0,0,0.28) 70%), left 60% / cover no-repeat url("img/lanscape.jpg");
}

.bannerCont {
  min-height: inherit;
  display: flex;
  gap: 5px;
  align-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
  color: white;
  text-shadow: 1px 2px 1px black;
}

.bannerCont h1, .bannerCont p, .bannerCont ul {
  width: 100%;
}

.bannerCont ul{
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  margin-bottom: 30px;
  
}

.bannerCont li {
  margin: 0 20px;
}

.bannerCont p {
  margin-bottom: 50px;
}

.icon-name div{
  font-size: 2em;
}

.icon-name {
  display: flex;
  line-height: 40px;
  gap: 5px;
}


.content, .map {
  max-width: 90%;
  margin: 50px auto;
}

.content p {
  margin: 20px;
}

.map {
  min-height: 700px;
  max-height: 1000px;
}